*{
    margin: 0px;
    padding: 0px; 
}
.container{
    padding: 30px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 1px 1px 4px #999;
}
.item img{
    max-width: 100%;
    max-height: 40px;
    margin-left: 250px;
}
.item2{
    display: flex;
    margin-top: -40px;
    margin-left: 400px;
    
}
.item2 input{
    border: 1px solid #c9463a;
    border-radius: 5px;
    padding-left: 15px;
    width: 40%;
    color: #999;
    font-size:15px;
}
.item2 i{
    text-align: center;
    color: #eee;
    border: 2px solid #ec2917;
    background: #ec2917;
    width: 40px;
    border-radius: 0 5px 5px 0;
    margin-left: -3.5px;
    line-height: 40px;
}
.tuvan{
    height: 40px;
    margin-left: 10px;
}
.tuvan img{
    height: 42px;
    border-radius: 8px;
}
.giohang i{
    margin-left: 10px;
    background: white;
    border: 0;
    color: #000;
    font-size: 30px;
   
}
ul{
    list-style-type: none;
    text-transform: uppercase;
}
nav{
    background-color: #ec2917;
}
.main-menu{
    display: flex;
}
nav .main-menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px  15px;
    border-right: 1px solid #fff;
}
nav .main-menu li:hover a{
    background: #ec2917;
    transition: all 0.3s;
}
.toggle{
    display: none;
    color: rgb(223, 108, 108);
    text-align: left;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.quan89 a{
    margin-left: 280px;
}
/* nền background nổi box-shadow: 1px 1px 4px #999;
    ghim mafn hình display: inline; */
@media  only screen and (max-width:960px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .item2{
        margin-top: 0px;
        margin-left: 0px;
    }
    .item2 input{
        border: 1px solid #ec2917;
        border-radius: 5px;
        padding-left: 15px;
        width: 100%;
        color: #999;
    }
    .tuvan{
        display: none;
    }
    .item img{
        margin-left: 0;
    }
    .main-menu{
        flex-direction: column;
        text-align: left;
    }
    .toggle{
        display: block;
    }
    nav{
        display: none;
    }
    .quan89 a{
        margin-left: 0px;
    }
}
